@(p: scalaz.Tree[scalaz.TreeLoc[edu.luc.etl.ccacw.sensor.model.Resource]], ls: Iterable[scalaz.Tree[scalaz.TreeLoc[edu.luc.etl.ccacw.sensor.model.Resource]]])

@main("Locations at " + p.rootLabel.path.toList.map(_.name).reverse.mkString("/", "/", "")) {
  <p>
    <a href="/">top</a>
    <a href="@(if (p.rootLabel.getLabel.name == "root") ".." else "../../" + p.rootLabel.getLabel.name)">up</a>
  </p>
  <ul>
    @ls.map { l => <li><a href="@l.rootLabel.getLabel.name">@l.rootLabel.getLabel</a></li> }
  </ul>
}
